@import "tailwindcss";

@font-face {
  font-family: "SportenPerson";
  src: url("/sportenperson.otf") format("opentype");
  font-weight: 400 700;
}

@theme {
  --color-gold: #e19d00;
  --color-ink: #0b0b0b;
  --font-display: "SportenPerson", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    background: #000;
  }
}

@utility text-gold-gradient {
  background: linear-gradient(106.52deg, #B78000 16.14%, #FFDB86 30.12%, #A27200 52.87%, #A77500 69.54%, #E19D00 97.12%), linear-gradient(180deg, #E19D00 0%, #FFC132 41.66%, #875E01 78.37%, #3A2801 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text-gold-gradient {
  background: linear-gradient(106.52deg, #B78000 16.14%, #FFDB86 30.12%, #A27200 52.87%, #A77500 69.54%, #E19D00 97.12%), linear-gradient(180deg, #E19D00 0%, #FFC132 41.66%, #875E01 78.37%, #3A2801 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
