Package                     Version
--------------------------- -------
asgiref                     3.12.1
Django                      6.1
djangorestframework         3.18.0
djangorestframework-api-key 3.1.0
packaging                   26.3
pip                         25.1.1
sqlparse                    0.6.0
